*{
    margin: 0;
    padding: 0;
}

.header{
    background-image: url("imagestruck1.png");
    background-repeat: no-repeat;
    background-size: 38mm;
    background-color: lightslategrey;
}
.navbar{
    padding-top: 20px !important;
}
.nav-item{
    margin-left: 40px;
    margin-bottom: 10px;
}
.nav-link{
    color:#fff !important;
    font-size: 12px !important;
    padding: 0 0 5px 0 !important;
    display: unset !important;
}
.fa-bars{
    color: #fff;
    font-size: 40px;
}
.navbar-toggler{
    border: 0 !important;
    outline: none !important;
    padding: initial !important;
}
.active-home{
    border-bottom: 2px solid #fff;
}
.nav-link:hover{
    border-bottom: 2px solid #fff;
}
/*-----------------------service-----------------------*/
.service{
    margin: 75px 0px;
}
.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}







