<html>
    <head>
        <title>Gerenciar Veículos</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    </head>
    <body>
      <section class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">Sistema Transporte Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
                aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto text-right">
                    <li class="nav-item">
                      <a class="nav-link " href="/indexl">HOME</a>
                    </li>
                    <div class="dropdown">
                      <li class="nav-item">
                        <a class="nav-link dropdown-toggle active-home" type="button" id="dropdownM" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          CONSULTA
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownM">
                          <a class="dropdown-item" href="../consultar corrida/consultar corrida.html">Corrida</a>
                          <a class="dropdown-item" href="../relatorios/relatorio.html">Relatório</a>
                          <a class="dropdown-item" href="../grafico/grafico.html">Gráfico</a>
                          <a class="dropdown-item" href="#">Veículo</a>
                          <a class="dropdown-item" href="../gerenciar-cliente/index.html">Cliente</a>
                          <a class="dropdown-item" href="../gerenciar-carga/index.html">Carga</a>
                        </div>
                      </li>
                    </div>
                    <div class="dropdown">
                      <li class="nav-item">
                        <a class="nav-link dropdown-toggle" type="button" id="dropdownMN" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          REGISTRAR
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMN">
                          <a class="dropdown-item" href="../registrar corrida/Registrar Corrida.html">Corrida</a>
                          <a class="dropdown-item" href="/cadastrov">Veículo</a>
                          <a class="dropdown-item" href="../registrar-cliente/index.html">Cliente</a>
                        </div>
                      </li>
                    </div>
                    <li class="nav-item">
                      <a class="nav-link" href="#">NOS CONTATE</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../perfil/index.html">PERFIL</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../principal nao logado/principal.html">SAIR</a>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>
      </section>
        <section class="service2">
          <form>
            <div class="form-group" style="margin-left: 50 !important;padding-right: 10 !important;">
              <label for="formGroupExampleInput"></label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Código Veículo">
            </div>
          </form>          
             <div class="form-check form-check-inline" style="margin-left: 50 !important;padding-right: 10 !important;">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Disponível</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Indisponível</label>
            </div> 
          <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
              <div class="card" style=" margin-top: 10 !important;margin-left: 100 !important;padding-left: 10!important;padding-right: 10 !important;
              max-width: 400px;">
                <img src="../imagens/Volvo-FH.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Disponível</h5>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Mais informações
                  </button>                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modelo: FH 460</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Código: 37001<br>
                          Nome do motorista: Angela Marcondes Valadão<br>
                          Placa: EEQ-2359<br>
                          Marca do veículo: Volvo<br>
                          Nº do chassi: 4EP Cu6hsC VA Eh8415 <br>
                          Data de revisão: 29/11/2020 <br>
                          Corrida atual: Livre<br>
                          Data de Saída:<br>
                          Data de chegada:<br>                                                  
                        </div>
                        <li class="list-group-item list-group-item-warning" >ALERTA<Br>Data de revisão próxima</li>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModaln" >Alterar</button>                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 project-box dsp">
              <div class="card" style=" margin-top: 10 !important;margin-left: 50 !important;padding-left: 10!important;padding-right: 10 !important;
              max-width: 400px;">
                <img src="../imagens/Volvo-FM-AB.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Disponível</h5>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                    Mais informações
                  </button>                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modelo: Atego 2425</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Código: 37002<br>
                          Nome do motorista: Asael Queiroga Álvares<br>
                          Placa: MDB-7789<br>
                          Marca do veículo: Volvo<br>
                          Nº do chassi: 5bP ZAAG74 5x b13840<br>
                          Data de revisão: 20/06/2022  <br>
                          Corrida atual: Livre<br>
                          Data de Saída:<br>
                          Data de chegada:<br>
                        </div>
                        <li class="list-group-item list-group-item-success">Data de revisão válida</li>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModaln" >Alterar</button>                          
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
              </div>
            </div>
            <div class="col mb-4 project-box dsp">
              <div class="card" style=" margin-top: 10 !important;margin-left: 10 !important;padding-left: 10!important;padding-right: 10 !important;
              max-width: 400px;">
                <img src="../imagens/Volvo-FMX-AB.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Disponível</h5>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                    Mais informações
                  </button>                                    
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modelo: Accelo 815</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Código: 37003<br>
                          Nome do motorista: Danilson Orriça <br>
                          Placa: MIZ-6100<br>
                          Marca do veículo: Volvo<br>
                          Nº do chassi: 6FA WAkMba NW 727921<br>
                          Data de revisão: 20/01/2024  <br>
                          Corrida atual: Livre<br>
                          Data de Saída:<br>
                          Data de chegada:<br>
                        </div>
                        <li class="list-group-item list-group-item-success">Data de revisão válida</li>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModaln" >Alterar</button>                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 project-box idsp">
              <div class="card" style=" margin-top: 10 !important;margin-left: 100 !important;padding-left: 10!important;padding-right: 10 !important;
              max-width: 400px;">
                <img src="../imagens/Volvo-VM-AB.png" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Indisponível</h5>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
                    Mais informações
                  </button>                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modelo: R440</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Código: 37004<br>
                          Nome do motorista: Maurício Morão Marcondes<br>
                          Placa: MTB-1041<br>
                          Marca do veículo: Volvo<br>
                          Nº do chassi: 2w0 XHnh3k A3 fU0592<br>
                          Data de revisão: 20/06/2020  <br>
                          Corrida atual: <br>
                          Data de Saída:<br>
                          Data de chegada:<br>
                        </div>
                        <li class="list-group-item list-group-item-danger">Data de revisão válida</li>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModaln" >Alterar</button>                          
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>                
              </div>              
            </div>
            <div class="col mb-4 project-box idsp">
              <div class="card" style=" margin-top: 10 !important;margin-left: 50 !important;padding-left: 10!important;padding-right: 10 !important;
              max-width: 400px;">
                <img src="../imagens/Volvo-FMX-AB.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Indisponível</h5>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal4">
                    Mais informações
                  </button>                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modelo: Accelo 815</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Código: 37005<br>
                          Nome do motorista: Amaro Covilhã Miranda<br>
                          Placa: NEZ-8259<br>
                          Marca do veículo: Volvo<br>
                          Nº do chassi: 8tu yXThut AL TK8028<br>
                          Data de revisão: 29/11/2020  <br>
                          Corrida atual: São Paulo até Rio De Janeiro<br>
                          Data de Saída: 20/11/2020<br>
                          Data de chegada:27/11/2020<br>
                        </div>
                        <li class="list-group-item list-group-item-warning">Data de revisão próxima</li>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModaln" >Alterar</button>                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="exampleModaln" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 5 !important;margin-left: 550 !important;padding-left: 10!important;padding-right: 10 !important;">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alteração</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Nome do motorista: <input type="text" class="form-control" placeholder=""><br>
                    Placa: <input type="text" class="form-control" placeholder=""><br>
                    Nº do chassi: <input type="text" class="form-control" placeholder=""><br>
                    Marca do veículo:<input type="text" class="form-control" placeholder=""><br>
                  </div>
                  <div class="modal-footer">
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success">Salvar</button>                        
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </section>
    </body>
</html>